# For parameters details, see this commented example: https://github.com/gustaveroussy/sopa/blob/main/workflow/config/example_commented.yaml
read:
  technology: toy_dataset

patchify:
  patch_width_pixel: 4000
  patch_overlap_pixel: 50

segmentation:
  cellpose:
    diameter: 35
    channels: ["DAPI"]
    flow_threshold: 2
    cellprob_threshold: -6
    gpu: true
    min_area: 2500

aggregate:
  aggregate_channels: true

annotation:
  method: fluorescence
  args:
    marker_cell_dict:
      CK: Tumoral cell
      CD3: T cell
      CD20: B cell

explorer:
  ram_threshold_gb: 4
  pixel_size: 1
