fail_fast: false
default_language_version:
  python: python3
default_stages:
- pre-commit
- pre-push
minimum_pre_commit_version: 2.16.0
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: "v0.6.3"
  hooks:
  - id: ruff
    args: [ --exit-non-zero-on-fix ]
  - id: ruff-format
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: debug-statements
