site_name: Sopa
repo_name: gustaveroussy/sopa
repo_url: https://github.com/gustaveroussy/sopa
copyright: Copyright &copy; 2023 - 2024 Quentin Blampey
theme:
  name: material
  logo: assets/sopa_small_white.png
  favicon: assets/sopa_favicon.png
  features:
    - content.code.annotate
    - content.code.copy
  palette:
    scheme: default
    primary: indigo
nav:
  - Home: index.md
  - Getting Started: getting_started.md
  - Tutorials:
      - API usage: tutorials/api_usage.ipynb
      - Snakemake pipeline: tutorials/snakemake.md
      - Tech-specific advice: tutorials/techno_specific.md
      - Xenium Explorer usage: tutorials/xenium_explorer/explorer.ipynb
      - Landmark-based alignment: tutorials/align.md
      - Comparing segmentations: tutorials/compare_segmentations.ipynb
      - Spatial operations: tutorials/spatial.ipynb
      - Visium HD usage: tutorials/visium_hd.ipynb
      - H&E usage: tutorials/he.ipynb
      - Command line interface: tutorials/cli_usage.md
      - Other segmentations:
          - ComSeg: tutorials/comseg.ipynb
          - Multi-step: tutorials/multi_step_segmentation.md
          - Custom segmentation: tutorials/custom_segmentation.ipynb
  - API:
      - Readers: api/readers.md
      - Patches: api/patches.md
      - Segmentation: api/segmentation.md
      - Aggregation: api/aggregation.md
      - Spatial operations: api/spatial.md
      - Utils: api/utils.md
      - Misc: api/misc.md
  - Frequently asked questions: faq.md
  - Cite us: cite_us.md
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            show_root_heading: true
            heading_level: 4
  - mkdocs-jupyter:
      include_source: True
markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.tabbed:
      alternate_style: true
extra_css:
  - css/termynal.css
  - css/custom.css
extra_javascript:
  - js/termynal.js
  - js/custom.js
  - js/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
