### This file details many Sopa parameters
###
### Most of these parameters are optional: don't hesitate to delete those that doesn't interest you
###
### Before creating your own config, you should check if there is not already an existing
### config that works for you, see https://github.com/gustaveroussy/sopa/tree/main/workflow/config

read:
  technology: merscope # name of the machine, e.g. xenium/merscope/cosmx/phenocycler/macsima/hyperion
  # [optional] you can provide keyword arguments to `sopa.io.merscope` (or any other reader)
  # kwargs:
  #   z_layers: 2

patchify:
  # [only if running cellpose]
  patch_width_pixel: 1000 # advice: 100 * cellpose diameter
  patch_overlap_pixel: 40 # advice: 2 * cellpose diameter

  # [only if running baysor]
  patch_width_microns: 4000
  patch_overlap_microns: 30

segmentation:
  # [optional] if you want to segment the tissue before cell-segmentation
  tissue:
    mode: staining # 'saturation' (for H&E) or 'staining' (for fluorescence)

  # [only if running cellpose]
  cellpose:
    diameter: 55 # [important parameter] typical size of a cell, in pixels. This depends on the technology resolution (see our config files per technology: https://github.com/gustaveroussy/sopa/tree/main/workflow/config)
    channels: ["DAPI"] # list of one or two channel(s) used for segmentation. If two channels, provide a cytoplasm staining, and then the nucleus staining

    gpu: true # [optional] whether to use the gpu
    flow_threshold: 2 # [optional] see cellpose parameters
    cellprob_threshold: -6 # [optional] see cellpose parameters
    model_type: "cyto3" # [optional] name of the cellpose model to be used. If you have a custom model, use the "pretrained_model" argument instead, and give the path to your model
    min_area: 1000 # [optional] minimum area (in pixels^2) for a cell to not be filtered
    clip_limit: 0.2 # [optional] value used to increase the contrast of the image. 0 means no change, 1 means high contrast change (see skimage.exposure.equalize_adapthist).
    gaussian_sigma: 1 # [optional] sigma used for gaussian smoothing. This can improve segmentation for highly-pixelated images

  # [only if running proseg]
  proseg:
    prior_shapes_key: auto # [optional] this allows to use the prior segmentation performed by the provider. This shouldn't be provided if you run cellpose with Sopa.
    # command_line_suffix: "--nthreads XXX" # add here any command line suffix to the proseg command

  # [only if running baysor]
  baysor:
    min_area: 20 # [optional] minimum area (in microns^2) for a cell to not be filtered
    prior_shapes_key: auto # [optional] this allows to use the prior segmentation performed by the provider. This shouldn't be provided if you run cellpose with Sopa.

    config:
      # [this is the baysor config, as in https://github.com/kharchenkolab/Baysor, you can add valid Baysor parameters]
      data:
        force_2d: true # if false, uses 3D mode
        min_molecules_per_cell: 10
        min_molecules_per_gene: 0
        min_molecules_per_segment: 8
        confidence_nn_id: 16

        # [important] do not update x/y/z below, since these names are standardized with SpatialData
        x: "x"
        y: "y"
        z: "z"

      segmentation:
        scale: 6.25 # [important parameter] typical cell radius in microns
        scale_std: "25%" # cell radius standard deviation
        prior_segmentation_confidence: 0.5 # confidence of the cellpose confidence (float in [0, 1])

aggregate:
  aggregate_genes: true # [optional] whether to compute the genes counts for each cell (cell-by-gene matrix)
  aggregate_channels: true # [optional] whether to compute, for each cell, the mean intensity per staining/channel
  min_intensity_ratio: 0.1 # [optional] cells whose mean channel intensity is less than `min_intensity_ratio * quantile_90` will be filtered
  expand_radius_ratio: 0.1 # [optional] cells polygons will be expanded by `expand_radius_ratio * mean_radius` for channels averaging **only**. This help better aggregate boundary stainings
  min_transcripts: 5 # [optional] cells whose transcript count is below that this threshold are filtered

# [optional] if annotation is desired, choose either 'tangram' or 'fluorescence'. If 'fluorescence' is used, make sure 'aggregate_channels' is true (see parameter above)
annotation:
  # [only if you choose transcript-based annotation with Tangram]
  method: tangram
  args:
    sc_reference_path: /path/to/reference_annotated.h5ad # path to the annotated scRNAseq reference used by Tangram
    cell_type_key: ct # key of adata_ref.obs containing the cell-type annotation
    reference_preprocessing: log1p # if your reference `adata.X` contains raw counts, then remove this parameter from the config. Else, choose "log1p" (if you have already run both `sc.pp.normalize_total` and `sc.pp.log1p` on your reference) or "normalized" (if you have already run `sc.pp.normalize_total` on your reference)
  # [only if you choose the simple staining-based annotation (comment out the lines below)]
  # method: fluorescence
  # args:
  #   marker_cell_dict: # mapping between a channel name and a population name
  #     CK: Tumoral cell
  #     CD3: T cell
  #     CD31: Endothelial
  #     FAP: Fibroblast
  #     CD68: Macrophage
  #     CD20: B cell

# [optional] add this if you want basic scanpy preprocessing to be done (normalization, log1p, HVG selection, UMAP, and leiden clustering) - use only for spatial transcriptomics datasets
scanpy_preprocess:
  resolution: 1 # resolution parameter for the leiden clustering
  check_counts: false # data already contains counts when using Snakemake/Nextflow, there is no need to do an extra check

explorer:
  # parameters related to the conversion to the Xenium Explorer (Sopa's visualizer)
  ram_threshold_gb: 4 # [optional] images below this RAM threshold will be loaded in memory during conversion. It can accelerate image writing
  pixel_size: 0.2125 # [optional] this is the number of microns in a pixel for the technology used (see the config of your technology of interest)
