# Using the Vizgen default segmentation as a prior for Proseg.

# For parameters details, see this commented example: https://github.com/gustaveroussy/sopa/blob/main/workflow/config/example_commented.yaml
read:
  technology: merscope

patchify:
  patch_width_microns: -1 # only one patch
  patch_overlap_microns: 0

segmentation:
  proseg:
    prior_shapes_key: auto # this allows to use the prior segmentation performed by Vizgen

aggregate:
  aggregate_channels: true
  min_transcripts: 10 # [optional] cells whose transcript count is below that this threshold are filtered

explorer:
  ram_threshold_gb: 4
  pixel_size: 0.108
