name: ci

on:
  push:
    tags:
      - v*
  pull_request:
    branches: [main]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
      - uses: pre-commit/action@v3.0.1

  tests:
    needs: [pre-commit]
    name: "pytest and snakemake"
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    steps:
      - uses: actions/checkout@v4

      - name: Set up the environment
        uses: ./.github/actions/setup-python-env
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install extra dependencies
        run: uv sync --extra cellpose --dev && uv pip install 'snakemake>=7.32.4,<9.0' 'pulp<2.8' 'cellpose==3.1.1'

      - name: Tests
        run: uv run poe test

      - name: Snakemake
        run: cd workflow && uv run snakemake --config sdata_path=tuto.zarr --configfile=config/toy/cellpose.yaml --workflow-profile profile/ci -c1

  test_wsi:
    needs: [pre-commit]
    name: "pytest wsi"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up the environment
        uses: ./.github/actions/setup-python-env

      - name: Install extra dependencies
        run: uv sync --extra wsi --dev && uv pip install 'openslide-bin==4.0.0.8' 'openslide-python==1.4.2' 'slideio==2.7.1' 'timm==1.0.21'

      - name: Tests
        run: uv run poe test_wsi

  deploy-docs:
    needs: [tests, test_wsi]
    if: contains(github.ref, 'tags')
    name: "Deploy documentation"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up the environment
        uses: ./.github/actions/setup-python-env

      - name: Install extra dependencies
        run: uv sync --dev

      - name: Build documentation
        run: uv run mkdocs gh-deploy --force

  pypi-release:
    needs: [tests, test_wsi]
    if: contains(github.ref, 'tags')
    name: "PyPI release"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up the environment
        uses: ./.github/actions/setup-python-env

      - name: Build
        run: uv build

      - name: Publish
        run: uv publish -t ${{ secrets.PYPI_TOKEN }}

  docker-images-release:
    needs: [pypi-release]
    if: contains(github.ref, 'tags')
    name: "Docker images release"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        extra-name:
          [
            "",
            "-baysor",
            "-cellpose",
            "-comseg",
            "-proseg",
            "-stardist",
            "-tangram",
          ]

    steps:
      - name: Export tag version
        run: |
          TAG="${GITHUB_REF#refs/tags/v}"
          echo "VERSION=$TAG" >> $GITHUB_ENV

      - name: Checkout
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          platforms: linux/amd64
          tags: |
            ${{ vars.DOCKERHUB_USERNAME }}/sopa:${{ env.VERSION }}${{ matrix.extra-name }}
            ${{ vars.DOCKERHUB_USERNAME }}/sopa:latest${{ matrix.extra-name }}
          context: ./docker/sopa${{ matrix.extra-name }}
          build-args: |
            SOPA_VERSION=${{ env.VERSION }}
